.header {
    margin: 0 auto;
  }
  
  .nav {
    position: fixed;
    background-color: #1a1818;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .nav .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    position: relative;
  }
  
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 7px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .nav a.current,
  .nav a:hover {
    color: rgb(231, 32, 32);
  }
  
  .servicos-options,
  .portfolio-options {
    background-color: #242424;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
    position: absolute;
    top: 100%; 
    left: 0;
    padding: 10px;
  }
  
  .servicos-options li,
  .portfolio-options li {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
  }
  
  .servicos-options.show,
  .portfolio-options.show {
    max-height: 200px; 
  }
  
  .servicos-options.show li,
  .portfolio-options.show li {
    opacity: 1;
  }